#include <windows.h>
#include "resource.h"


LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
#pragma code_page(1250)


//
// Bitmap resources
//
IDB_PIN            BITMAP         "res/Pin.bmp"

//
// Cursor resources
//
IDC_SPLITH         CURSOR         "res/SPLITH.CUR"
IDC_SPLITV         CURSOR         "res/SPLITV.CUR"




STRINGTABLE
BEGIN
    IDS_COLOR_BTN                 "&Inne"
    IDS_ERR_UNKNOWN               "Nieznany b³¹d."
    IDS_PIN_OFF                   "Wy³¹cz zawsze na wierzchu"
    IDS_PIN_ON                    "W³¹cz zawsze na wierzchu"
    IDS_BOX_WARNING               "Ostrze¿enie"
    IDS_BOX_DECISION              "Decyzja"
END



