#include <windows.h>
#include "resource.h"

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
#pragma code_page(1250)


//
// Bitmap resources
//
IDB_PIN            BITMAP         "res/Pin.bmp"

//
// Cursor resources
//
IDC_SPLITH         CURSOR         "res/SPLITH.CUR"
IDC_SPLITV         CURSOR         "res/SPLITV.CUR"




STRINGTABLE
BEGIN
    IDS_COLOR_BTN                 "&Inne"
    IDS_ERR_UNKNOWN               "Nieznany b³¹d."
    IDS_PIN_OFF                   "Wy³¹cz zawsze na wierzchu"
    IDS_PIN_ON                    "W³¹cz zawsze na wierzchu"
    IDS_BOX_WARNING               "Ostrze¿enie"
    IDS_BOX_DECISION              "Decyzja"
END




IDD_CUSTOM_MSGBOX DIALOGEX 0, 0, 180, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Confirmation"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_BOX_ICON, "STATIC", SS_ICON | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 7, 10, 32, 32
    LTEXT "Kontynuowaæ?", IDC_STATIC, 40, 10, 130, 32
    DEFPUSHBUTTON "Tak", IDYES, 30, 45, 50, 14
    PUSHBUTTON     "Nie", IDNO, 100, 45, 50, 14
END

